@tailwind base;

h1 {
    @apply text-4xl mt-6 mb-5;
}
h2 {
    @apply text-2xl mt-6 mb-5;
}
h3 {
    @apply text-xl mt-6 mb-5;
}
li {
    @apply list-disc list-inside
}
.nuxt-content a {
    @apply text-emerald-600 hover:text-emerald-700 transition-colors duration-300;
}

article {
    @apply p-9 text-lg leading-relaxed;
}
  
  

@tailwind components;

@tailwind utilities;